div {
    background-color: whitesmoke;
    border-radius: 5px;
    height: auto;
    padding: 12px;
    margin: 10px 0;
    box-shadow: grey 2px 2px 5px;
    position: relative;
    cursor: pointer;
  }

  p {
    font-family: "Oswald";
    font-size: 1.2em;
  }